.scroll-to-top-button{
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  font-size: 2.8rem;
  color: #6D1F76 !important;
}

@media screen and (max-width: 800px) {
  .scroll-to-top-button {
    bottom: 1rem;
    right: 1.5rem;  
  }
}

@media screen and (max-width: 800px) {
  .scroll-to-top-button {
    bottom: 1rem;
    right: 0.3rem;  
  }
}