.filme-info {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-top: 10px;
}

.filme-info img{
  border-radius: 20px;
}

.filme-info h1{
  font-size: 30px;
  font-weight: bold;
}

.filme-info h3{
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}

.filme-info p{
  font-size: 15px;
  font-weight: 600;
}


.filme-info button{
  margin-right: 5px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  outline: none;
  padding: 12px;
  transition: all 0.5s;
  font-weight: bold;
}

.filme-info button:hover{
  background-color: #6D1F76;
  color: #ffffff;
}

.filme-info a{
  text-decoration: none;
  color: #000000;
}

.filme-info a:hover{
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .filme-info {
    max-width: 700px;
  }
}

@media screen and (max-width: 500px) {
  .filme-info {
    max-width: 380px;
  }
}

@media screen and (max-width: 400px) {
  .filme-info {
    max-width: 300px;
  }
}