.meus-filmes {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

ul {
  padding: 0;
}

ul li {
  padding: 0;
  list-style: none;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

span {
  font-size: 25px;
}

button {
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

ul li div a {
  text-decoration: none;
  margin-right: 10px;
}

ul li div a:hover {
  color: #ff0000;
}

@media screen and (max-width: 500px) {
  .titulo {
     max-width: 140px;
     max-height: 30px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
  }
  ul li {
    min-width: 0px;
    width: 300px;
  }
  ul li span {
    font-size: 16px;
  }
  span {
    font-size: 20px;
  }  
}

@media screen and (max-width: 400px) {
  span {
    font-size: 18px;
  }  
}