header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 3.75rem;
  background-color: #6D1F76;
  position: sticky;
  top: 0;
  border: 4px;
  border-style: solid none;
  border-color: #2fb5cc;
}

.logo {
  text-decoration: none;
  font-size: 1.875rem;
  color: #2fb5cc;
  cursor: pointer;
  font-weight: bold;
}

.favoritos {
  cursor: pointer;
  text-decoration: none;
  background-color: #2fb5cc;
  color: #6D1F76;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  font-weight: bold;
}